.wrapper {
  width: 100%;
  height: 100px;
  background-color: grey;
}
.hide{
 display: none;
}

.login_form{
  display: none;
}
.singup_form{
  display: none;

}
ul{
  margin: 0;
}
li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
}