<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="js/app.js"></script>

  <title>Simple Landing Page</title>
</head>

    <body id ='content'>
      <header class="wrapper">
    <ul>
        <% if current_user %>
        <a class="home_list" href="/logout"><li>logout</li></a>
          <a class="home_list" href="/start"><li><%=current_user.username.capitalize%></li></a>
        <% else %>
          <a href='#'  id='login' >Login</a>
            <form class='login_form' action="/login" method='POST'>
              username
              <input type="text" name='user[username]'>
              password
              <input type="password" name ='user[password]'>
              <input type="submit">
            </form>
          <a href="#" id="singup" >Singup</a>
            <form class='singup_form' action="/singup" method='POST'>
              username
              <input type="text" name='user[username]'>
              email
              <input type="email" name='user[email]'>
              password
              <input type="password" name ='user[password]'>
              <input type="submit">
            </form>
        <% end %>
      </ul>
  </header>
  <div id ='main'>
      <%= yield %>
  </div>
    </body>

</html>
