<h1>My Fridge</h1>
Add new items:
<form action="/new" method='POST' class='add_form'>
  Item name:
  <input type="text" name='food[name]'>
  Amount:
  <input type="number" name='food[amount]' min='0'  step= "0.1">
  Expiration date:
  <input type="date" name='food[expiration_date]' min="<%= Date.today %>">
  <input id = 'add' type="submit" value='add'>
</form>
<%= erb :_table %>
